body {
	margin: 0 !important;
	font-family: 'Lato', sans-serif !important;
	background-color: #f1f1f1 !important;
}

.topheader {
	background-color: #ffffff;
	position: fixed;
	top: 0;
	height: 50px;
	color: #000000;
	width: calc(100% - 200px);
	z-index: 1000;
	padding: 5px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.maintop {
	background-color: #0079c1;
	position: fixed;
	top: 0;
	width: 200px;
	height: 50px;
	color: #ffffff;
	z-index: 1000;
	padding: 15px;
	box-sizing: border-box;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #2b3035;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.menu-item {
	display: block;
	color: white;
	padding: 12px;
	background-color: #0079c1;
}

div.content {
	padding: 1px 16px;
	height: 1000px;
	margin-top: 40px;
}

.dropmenu {
	margin-top: 30px;
}

div.maincontent {
	margin-left: 200px;
	height: 1000px;
}

.mainarea {
	margin-top: 20px;
	padding: 10px;
	background-color: #ffffff;
}

.buttstyle {
	z-index: 1;
}

/* Drop Menu */
/* .SidebarLink {
	display: flex;
	color: #e1e9fc;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	list-style: none;
	height: 10px;
	text-decoration: none;
	font-size: 14px;
}

.SidebarLink:hover {
	background: #252831;
	border-left: 4px solid #0079c1;
	cursor: pointer;
}

.SidebarLabel {
	margin-left: 16px;
}

.DropdownLink {
	background: #252831;
	height: 40px;
	padding-left: 3rem;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #f5f5f5;
	font-size: 14px;
}

.DropdownLink:hover {
	background: #0079c1;
	cursor: pointer;
} */
/* Drop Menu */

@media screen and (max-width: 700px) {
	.sidebar {
		display: none;
	}

	.topheader {
		width: 100%;
	}

	div.maincontent {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 400px) {
	.sidebar {
		display: none;
	}

	.topheader {
		width: 100%;
	}

	div.maincontent {
		width: 100%;
		margin: 0;
	}
}
